module vscode 1.0;

require {
        type container_t;
        type user_home_t;
        class dir { add_name create write open read getattr setattr remove_name rmdir rename reparent watch };
        class file { create open read write getattr setattr map append link rename unlink ioctl lock execute execute_no_trans watch };
        class lnk_file { read unlink create getattr setattr };
}

#============= container_t ==============

allow container_t user_home_t:dir { add_name create write open read getattr setattr remove_name rmdir rename reparent watch };
allow container_t user_home_t:file { create open read write getattr setattr map append link rename unlink ioctl lock execute execute_no_trans watch };
allow container_t user_home_t:lnk_file { read unlink create getattr setattr };
